.trending_products {
    padding: 120px 0;
}

.trending_products .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.trending_products .titles h3 {
    position: relative;
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.trending_products .titles h3::before {
    content: "";
    position: absolute;
    top: -15px;
    width: 30%;
    height: 3px;
    background: black;
}

.trending_products .titles p {
    font-size: 14px;
    text-align: center;
}

.trending_products .filtres {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.trending_products .filtres button.active {
    background: black;
    color: white;
}

.trending_products .view_all {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.trending_products .container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 40px;
}

/* Responsive styles */

@media screen and (max-width: 992px) {
    .trending_products .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .trending_products .container {
        grid-template-columns: repeat(2, 1fr);
    }
}