.brands {
    padding: 80px 0;
    background: #f1f1f1;
}

.brands .swiper .swiper_item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.brands .swiper .swiper_item img {
    width: 60%;
}