.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.overlay.active {
    display: block;
}

.cart {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    background: white;
    font-weight: 600;
    transition: .3s ease-in-out;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.cart.active {
    right: 0;
}

.cart .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.cart .header .title h4 {
    font-weight: 600;
}

.cart .header .close {
    cursor: pointer;
    padding-top: 5px;
}

.cart .container {
    overflow-y: auto;
}

.cart .footer {
    border-top: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.cart .footer .total {
    display: flex;
    justify-content: space-between;
}

.cart .footer .total h3 {
    font-weight: 600;
    font-size: 16px;
}

.cart .footer button {
    width: 100%;
}