.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.overlay.active {
    display: block;
}

.search {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    background: white;
    padding: 60px 0;
    transition: .3s ease-in-out;
}

.search.active {
    top: 0;
}

.search .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.search .container .input_btn {
    display: flex;
    gap: 20px;
}

.search .container .input_btn input {
    width: 100%;
}

.search .container .products_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-height: 300px;
    overflow-y: auto;
}

/* Responsive styles */

@media screen and (max-width: 992px) {
    .search .container .products_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .search .container .products_container {
        grid-template-columns: repeat(2, 1fr);
    }
}